.container {
  background: #f9ae6c linear-gradient(279deg, #f7933b 0%, #f9ae6c 100%);
  color: #fafafa;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: calc(20px + 246px);
    height: 100%;
    // top: 0;
    // left: 0;

    border-right: 1.5px solid #fde4ce;
    background-color: #f6831f;
    background: #f6831f -o-linear-gradient(315deg, #f26522 0%, #fa8825 59.9%, #f2752e 100%);
    background: #f6831f linear-gradient(135deg, #f26522 0%, #fa8825 59.9%, #f2752e 100%);
    -webkit-border-radius: 0 60px 60px 0;
    -moz-border-radius: 0 60px 60px 0;
    -ms-border-radius: 0 60px 60px 0;
    border-radius: 0 60px 60px 0;
  }
}
