.category-image {
  margin-bottom: 20px;
  img {
    max-width: 100%;
    height: auto;
    border: 0;
  }
}

.columns {
  margin-top: 24px;
  padding-bottom: 24px;
  .page-title-wrapper {
    min-height: 36px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .page-title {
      display: flex;
      align-items: center;
      h1 {
        padding: 0;
        margin: 0;
        text-transform: uppercase;
        color: #1b1a19;
        font-size: 24px;
        margin-right: 6px;
        font-weight: 700;
      }
    }
    .toolbar-store {
      display: flex;
      align-items: center;
      label {
        font-weight: 600;
        margin-right: 6px;
        font-size: 14px;
      }
    }
  }
  .sidebar-main {
    width: 240px;
  }
  .column-main {
    width: calc(100% - 240px);
    padding-left: 32px;
  }
}

.custom-accordion::before {
  content: none !important;
}
